﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="WorkFlowAction.aspx.cs" Inherits="WorkFLowApproval._Default" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Purchase Requisition Approval</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        <asp:Label ID="lblStatus" runat="server" Font-Names="Tahoma" Text="Label"></asp:Label>
    
    </div>
    </form>
    <p style="font-family: Tahoma; font-size: small">
        <b>Please close the browser when you are done.</b></p>
</body>
</html>
